<div class="container-fluid app-padding">
  <h2 class="section-header"><strong>About me</strong></h2>
  <div class="container-fluid passage">
    <p class="mb-3">
      Greetings! Welcome to my webpage. My name is Charles, and I go by a lot of
      names. Most people address me by my surname, King, others call me either
      Charles or Spencer, but this is all up to your preference.
    </p>
    <p class="mb-3">
      I am an ardent individual with a passion for growth, dwindling upon my
      curiosities and searching for the answers to my idiosyncratic queries. As`
      an avenue for experimenting with my development, the art of creation is
      something I delve into as turning abstract concepts into concrete
      embodiments through various means encapsulates all that I've learned. That
      is the big reason why I chose to become a Software Engineer, as my
      personal vendetta is to be able to fabricate thoughts and concepts in a
      relevant industry.
    </p>
    <p class="mb-3">
      Putting professionalism aside, I enjoy partaking in nature walks and
      traveling; sightseeing refreshes my mind and helps me think more clearly.
      I also love listening to music, playing video games, reading novels,
      writing song lyrics, and cooking; I might not be working, but I want to
      keep my mind busy the least.
    </p>
    <p class="mb-3">
      I have recently graduated from FEU - Institute of Technology, attaining a
      degree in Information Technology, specializing in Service Management and
      Service Management. Finishing my undergraduate is one thing, but
      graduating Magna cum Laude is such a blessing and is more than I've ever
      hoped for.
    </p>
    <p>
      My desire for significant knowledge didn't cease at that moment. I do plan
      on pursuing a Graduate and Post-Graduate degree in Computer Science in the
      near foreseeable future.
    </p>
  </div>
</div>
