.container-fluid
{
    background-color: bisque;

    .container{
        padding: 10px 0;

        a{
            color: #222;

            &:hover{
                color: rgb(179, 179, 132);
            }
        }

    }

    .divider{
        margin: 10px 0 20px 0;
        .line
        {
            width: 100%;
            border: 0.5px solid #444;
            height: 0;
            position: relative;

            h6{
                position: absolute;
                top: -10px;
                background-color: #fff;
                width: 30px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media screen and (min-width: 960px){
    .container-fluid .container{
        width:  80%;
    }
}