<div class="container-fluid app-padding">
  <h2 class="section-header"><strong>Contact Me</strong></h2>
  <div class="card mb-4">
    <div class="card-body">
      <h6 class="text-center">Contact me directly</h6>
      <div class="container d-flex align-items-center justify-content-between">
        <h6><i class="fa fa-solid fa-mobile"></i> +639568302025</h6>
        <h6><i class="fa fa-solid fa-phone"></i> 82758154</h6>
        <h6><i class="fa fa-solid fa-envelope"></i> kingcsb2000@gmail.com</h6>
      </div>
      <div class="divider">
        <div class="line">
            <h6 class="text-center">or</h6>
        </div>
      </div>
      <h6 class="text-center">My Socials</h6>
      <div class="container d-flex align-items-center justify-content-between">
        <a href="https://www.facebook.com/king.sintaxx/" target="_blank"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
        <a href="https://github.com/Charli1386" target="_blank"><i class="fa-brands fa-square-github fa-2xl"></i></a>
        <a href="https://www.linkedin.com/in/sintaxx/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        <a href="https://wa.me/639568302025" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
      </div>
    </div>
  </div>
</div>
