<div class="container-fluid app-padding" [style.background-image]="'url(' + bg_img.src + ')'">
    <h2 class="section-header"><strong>Professional, Research, and Project Experience</strong></h2>
    <div class="container">
        <table class="table">
            <tr>
                <td><h4><strong>Measurement and Reporting Associate</strong></h4></td>
                <td><h4><strong>Accenture (Full-time from 01/2022 - 12/2022)</strong></h4></td>
            </tr>
            <tr>
                <td><h5>Project Manager, Programmer, Data Architect</h5></td>
                <td><h5>FEU - Institute of Technology / Caramela (Research Project from 04/2022 - 05/2022)</h5></td>
            </tr>
            <tr>
                <td><h5>Lead Programmer and Webmaster</h5></td>
                <td><h5>FEU - Institute of Technology / Infinity BPO Solutions (Capstone Project from 08/2021 - 11/2021)</h5></td>
            </tr>
            <tr>
                <td><h5>Lead Programmer and Machine Learning Engineer</h5></td>
                <td><h5>FEU - Institute of Technology (Research Project from 05/2021 - 06/2021)</h5></td>
            </tr>
        </table>
    </div>
</div>