@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Schibsted+Grotesk&display=swap');


body
{
    padding: 5em 20em 5em 20em;
    background-image: url('assets/images/body-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    font-family: 'Schibsted Grotesk', sans-serif;

    .background-overlay:before
    {
        content: '';
        position: fixed;
        top: 0; 
        left: 0;   
        right: 0;   
        bottom: 0;

        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);

        background: inherit;
    
    }

    .background-overlay
    {
        background: inherit;
    }

    .text-special
    {
        font-family: 'Dancing Script', cursive;
    }

    .section-header
    {
        text-align: center;
        margin-bottom: 0.5em;
    }

    .app-padding
    {
        padding: 1em 5em 1em 5em;
    }

}

h1, h2, h3, h4, h5, h6, p { padding: 0; margin: 0; }



@media screen and (max-width: 960px) {
    body
    {
        padding: 0;

        .app-padding
        {
            padding: 1em;
        }

    }
}